{% extends "layout.html" %}

{% from "carboard/macros.html" import render_field, box_header %}

{% block title %}
    Add Signal from File | {{ super() }}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Bulk add Signals
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Signal</a></li>
            <li class="active">Add Signal from file</li>
        </ol>
    </section>
{% endblock content_header %}

{% block content %}
    {% if errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="well-error">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid vcar-box">

                {{ box_header('Add from a CSV File') }}
                <form action="{{ url_for('carboard.bulkAddSource') }}" method="POST" enctype="multipart/form-data">
                    <div class="box-body">
                        {{ form.hidden_tag() }}
                        {% for field in form %}
                            {{ render_field(field) }}
                        {% endfor %}
                    </div>
                    <div class="box-footer form-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="reset" class="btn btn-success">Reset</button>
                        <a href="{{ url_for('carboard.indexSignal') }}" class="btn btn-default pull-right">Back to
                            list
                        </a>
                    </div>
                </form>

            </div>

        </div>
    </div>
{% endblock %}
