{% extends "layout.html" %}

{% from "carboard/macros.html" import render_pagination %}

{% block title %}
    Signal source details | {{ super() }}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            Signal source details
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('carboard.index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="{{ url_for('carboard.indexSignalsource') }}">Signalsource</a></li>
            <li class="active">Signal source details</li>
        </ol>
    </section>
{% endblock content_header %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Signal source : {{ signalsource.name }}</h3>
                </div>

                <div class="box-body">

                    <div class="line">
                        <strong class="line-title">ID</strong>
                        <p class="line-body">{{ signalsource.id }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Name</strong>
                        <p class="line-body">{{ signalsource.name }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Signals</strong>
                        <p class="line-body">{{ signalsource.signals }}</p>
                    </div>
                    <div class="line">
                        <strong class="line-title">Description </strong>
                        <p class="line-body">{{ signalsource.description or 'No description provided' }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Status</strong>
                        <p class="line-body">
                            {% if signalsource.status == 1 %}
                                <span class="label bg-green">Activated</span>
                            {% else %}
                                <span class="label bg-red">Disabled</span>
                            {% endif %}
                        </p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Creation</strong>
                        <p class="line-body">{{ signalsource.created.strftime('%d-%m-%Y') }}</p>
                    </div>

                </div>

                <div class="box-footer form-footer">
                    <a href="{{ url_for('carboard.editSignalsource', id=signalsource.id) }}" class="btn btn-success">Edit</a>
                    <a href="{{ url_for('carboard.deleteSignalsource', id=signalsource.id) }}" class="btn btn-danger">Delete</a>
                    <a href="{{ url_for('carboard.indexSignalsource') }}" class="btn btn-default pull-right">Back to
                        list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
