{% extends "dashboard/layout.html" %}

{% from "dashboard/macros.html" import render_pagination %}

{% block title %}
    User details | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		User details
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{ url_for('dashboard.index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="{{ url_for('dashboard.indexUser') }}">User</a></li>
			<li class="active">User details</li>
		</ol>
	</section>
{% endblock content_header %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">User : {{ user.username }}</h3>
                </div>

                <div class="box-body">

                    <div class="line line-right">
                        {% if user.avatar %}
                            <img class="avatar" src="{{ resized_img_src(config.UPLOAD_USER + user.avatar, width=160) }}">
                        {% else %}
                            <img class="avatar" src="/static{{ config.UPLOAD_USER}}/default.png">
                        {% endif %}
                    </div>

                    <div class="line">
                        <strong class="line-title">ID</strong>
                        <p class="line-body">{{ user.id }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Username</strong>
                        <p class="line-body">{{ user.username }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Full name</strong>
                        <p class="line-body">{{ user.fullname }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Email</strong>
                        <p class="line-body">{{ user.email }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Role</strong>
                        <p class="line-body">{{ user.role | roles }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Status</strong>
                        <p class="line-body">
                            {% if user.status == 1 %}
                                <span class="label bg-green">Activated</span>
                            {% else %}
                                <span class="label bg-red">Disabled</span>
                            {% endif %}
                        </p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Creation</strong>
                        <p class="line-body">{{ user.created.strftime('%d-%m-%Y')}}</p>
                    </div>

                </div>

                <div class="box-footer form-footer">
                    <a href="{{ url_for('dashboard.editUser', id=user.id) }}" class="btn btn-success" >Edit</a>
                    <a href="{{ url_for('dashboard.deleteUser', id=user.id) }}" class="btn btn-danger" >Delete</a>
                    <a href="{{ url_for('dashboard.indexUser') }}" class="btn btn-default pull-right">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
