/*
 * Skin: vCar blue
 * -----------
 * colors :
 * - #2a2d32
 */


a {
    color: #0096cf;
}
/*
 * General -------------------------------------------------------------
 */
 h3.box-title {
    color: rgba(255,255,255,.6);
}
 .content-wrapper, .right-side {
    background-color: #363637;
    color: #eee;
}
.main-footer {
    background: #2e2e2e;
    color: #999;
    border-top: 1px solid #2e2e2e;
}
.callout.callout-vcar {
    background-color: #2A2A2A !important;
    color: #ddd !important;
    border-left: 5px solid #03A100;
}
 .callout h4 {
     margin-top: 0;
     font-weight: normal;
     color: #7289da;
 }
 .mid-line {
     width: 40%;
     border: 2px dashed #2a2a2a;
	 margin-bottom: 35px;
 }
 .underlined {
    text-align: center;
    border-bottom: 5px solid #2a2a2a;
    margin: 10px 0;
}
.underlined > div {
    margin-bottom: 15px;
    color: #7289da;
    font-size: 15px;
    font-weight: 600;
}
.form-control {
    border-color: #151515;
    background-color: #151515;
    color: #7289da;
}
.form-control:focus {
    border-color: #7289da;
}
/*
 * header section -------------------------------------------------------------
 */

.content-header {
    padding-bottom: 15px;
    padding-top: 30px;
}

.content-header > .breadcrumb {
    top: 25px;
}
.content-header > .breadcrumb > li > a {
    color: #eee;
}
/*
 * Copy section ---------------------------------------------------------------
 */

.main-header .navbar {
    background-color: #2a2a2a !important;
}
.main-header .navbar .nav>li>a {
    color: #fff !important;
}

.main-header .navbar .nav>li>a:hover, .main-header .navbar .nav>li>a:active, .main-header .navbar .nav>li>a:focus, .main-header .navbar .nav .open>a, .main-header .navbar .nav .open>a:hover, .main-header .navbar .nav .open>a:focus, .main-header .navbar .nav>.active>a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6
}

.main-header .navbar .sidebar-toggle {
    color: #fff
}

.main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1)
}

.main-header .navbar .sidebar-toggle {
    color: #fff
}

.main-header .navbar .sidebar-toggle:hover {
    background-color: #367fa9
}

@media (max-width:767px) {
    .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1)
    }
    .main-header .navbar .dropdown-menu li a {
        color: #fff
    }
    .main-header .navbar .dropdown-menu li a:hover {
        background: #367fa9
    }
}

.main-header .logo {
    background-color: #7289da;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.main-header .logo:hover {
    background-color: #373a3d;
}

.main-header li.user-header {
    background-color: #464646;
}

.content-header {
    background: transparent
}

.wrapper, .main-sidebar, .left-side {
    background-color: #2a2a2a;
}

.user-panel>.info, .user-panel>.info>a {
    color: #fff
}

.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226
}

.sidebar-menu>li>a {
    border-left: 3px solid transparent
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #7289da;
}

.sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41
}

.sidebar a {
    color: #b8c7ce
}

.sidebar a:hover {
    text-decoration: none
}

.treeview-menu>li>a {
    color: #8aa4af
}

.treeview-menu>li.active>a, .treeview-menu>li>a:hover {
    color: #fff
}

.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px
}

.sidebar-form input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px
}

.sidebar-form input[type="text"]:focus, .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff
}

.sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0
}

.skin-blue.layout-top-nav .main-header>.logo {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-blue.layout-top-nav .main-header>.logo:hover {
    background-color: #3b8ab8
}
/*
* Show Action -----------------------------------------------------------------
*/
.toast-info {
    background-color: #3b8ab8;
}
.line-right {
	background-color: #2a2d35 !important;
	border: 1px solid #373a3d !important;
}
.line {
    border-bottom: 1px solid #373a3d !important;
}
.vcar-box {
    border: 1px solid #2A2A2A;
    border-radius: 0;
}
.vcar-box> .box-header {
    color: #ffffff;
    background: #2A2A2A;
    background-color: #2A2A2A;
}
.vcar-box .box-body {
    background-color: #373A3D;
    border-radius: 0;
}
.vcar-box .box-footer {
    color: #eee !important;
    background: #2A2A2A !important;
}
/*
 * Buttons section ------------------------------------------------------------
 */
 .btn-default {
    color: #ffffff;
    background-color: #424242;
    border-color: #424242;
}
 .btn-default:hover {
    color: #ffffff;
    background-color: #161616;
    border-color: #020202;
}
 .btn-primary {
    color: #ffffff;
    background-color: #7289da;
    border-color: #7289da;
}
 .btn-primary:hover {
    color: #ffffff;
    background-color: #151515;
    border-color: #151515;
}
 .btn-success {
    color: #ffffff;
    background-color: #00bc8c;
    border-color: #00bc8c;
}
 .btn-success:hover {
    background-color: #008966;
    border-color: #007f5e;
}
 .btn-warning {
    color: #ffffff;
    background-color: #ff9800;
    border-color: #ff9800;
}
 .btn-warning:hover {
    background-color: #FFCC80;
    border-color: #FFCC80;
}
/*
 * Pagination section ---------------------------------------------------------
 */
.pagination {
    border: 1px solid #373a3d;
}
.pagination > li > a, .pagination > li > span {
    color: #ffffff;
    background-color: #222222;
    border: 1px solid #282828;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #fff;
    background-color: #424242;
    border-color: #424242;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #888888;
    background-color: #222222;
    border-color: #282828;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #7289da;
    border-color: #7289da;
}
/*
 * Box section ----------------------------------------------------------------
 */
.box {
    background: #2a2a2a;
    border-top: 3px solid #7289da;
}
.box-header{
    color: #fff;
}
.box .with-border {
    border-bottom: 1px solid #363637;
}
.box .box-footer {
    background-color: #2a2a2a;
    border-top: 1px solid #2e2e2e;
}
.table th, .table td {
    border-top: 1px solid #373a3d !important;
}

.table-hover>tbody>tr:hover {
    background-color: #2e3134;
}



.info-box {
    background: #5e5e5e;
}
.progress-description, .info-box-text {
    color: #ecf0f1;
}
.info-box-number {
    color: #ddd !important;
}


.btn-vcar {
    color: #ffffff;
    background-color: #455A64;
    border-color: #455A64;
    transition: all 0.4s;
}
.btn-vcar.active{
    color: #fff;
    background-color: #2a2a2a;
    /*border-color: #2a2a2a;*/
    border-color: #7289da;
}
.btn-vcar:hover {
    color: #ffffff;
    background-color: #2a2a2a;
    border-color: #151515;
}
.box-alert {
    margin-top: 10px;
    color: #f44336;
}
hr.divider {
    border: 1px solid #354044 !important;
}
/*
* vis.js section --------------------------------------------------------------
*/

.vcar-vis {
    background-color: #272B30;
    margin: -10px;
}
.vcar-linechart {
    fill: #C78317;
}
.blue-chart {
    fill: #5555DD;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #5555DD;
}
.yellow-chart {
    fill: #B9BA0A;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #B9BA0A;
}
.green-chart {
    fill: #66AA00;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #66AA00;
}
.red-chart {
    fill: #FE3912;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #FE3912;
}
.purple-chart {
    fill: #DD5555;
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #DD5555;
}
.vis-legend {
    background-color: transparent !important;
    padding: 5px 0px !important;
    border: none !important;
    box-shadow: none !important;
}
.vis-legend-text {
    color: #878B90;
    padding-bottom: 3px;
    border-bottom: 1px solid #B9B2B4;
    font-weight: 600;
}
.vis-time-axis .vis-text {
    color: #6c6c6c !important;
}
.vis-timeline .vis-outline {
    fill: #2a2a2a !important;
    stroke: #3a3a3a !important;
}
.vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top, .vis-panel.vis-bottom {
    border: 1px #2B3035 !important;
}
.vis-timeline {
    border: 1px solid #2A2A2A !important;
}
.vis-time-axis .vis-grid.vis-minor {
    border-color: #2B3035 !important;
}
.vis-time-axis .vis-grid.vis-major {
    border-color: #2B3035 !important;
}
.vis-panel.vis-background.vis-horizontal .vis-grid.vis-minor {
    border-color: #2B3035 !important;
}
.vis-panel.vis-background.vis-horizontal .vis-grid.vis-major {
    border-color: #2B3035 !important;
}
.vis-active {
    box-shadow: 0 0 1px 1px #86d5f8 !important;
}
