{% extends "layouts/dashboard.html" %}

{%- block styles %}
	{{ super() }}
    <link href="/static/css/dashboard/uploader{{ minified }}.css" rel="stylesheet" type="text/css" />
{%- endblock styles %}

{% block content %}
    <div class="vcar">
        <div class="row">
            <div class="col-xs-12">

                <div class="callout callout-vcar">
                        <i class="icon fa fa-info-circle callout-icon"></i>
                    <h4>Import OpenXC trace files</h4>
                    <p>Import your vehicle trace files by dropping them in the uploader box.</p>
                </div>

                <div class="box box-solid vcar-box">
                    <div class="box-header">
                        <h3 class="box-title">
                            Import OpenXC Dataset
                            <span class="subtitle">Step 1 of 3</span>
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form id="upload" method="post" action="/dashboard/import/openxc" enctype="multipart/form-data">
                            <div id="drop">
                                Drop Here<br>
                                <a>Browse</a>
                                <input type="file" name="openxc" multiple />
                            </div>
                            <ul><!-- The file uploads will be shown here --></ul>
                        </form>
                    </div>
                    <div class="box-footer">
                        <h3 class="box-title pull-right">
                            <a class="btn btn-vcar-action" href="#" id="next">
                                <i class="fa fa-chevron-right"></i>
                                Continue
                            </a>
                        </h3>
                    </div>
                    <form id="send_traces" method="post" action="/dashboard/import/openxc/process">
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endblock content %}


{%- block scripts %}
	{{ super() }}
    <script src="/static/js/plugins/Fileupload/jquery.fileupload{{ minified }}.js"></script>
    <script src="/static/js/plugins/Fileupload/jquery.knob{{ minified }}.js"></script>
    <script src="/static/js/dashboard/uploader{{ minified }}.js"></script>
    <script type="text/javascript">
        $(function() {
           $('#next').click(function(e) {
                e.preventDefault();
                $("#send_traces").submit();
            });
        });
    </script>
{%- endblock scripts %}
