{% extends "layouts/dashboard.html" %}

{% block content %}
    <div class="vcar">
        <div class="row">
            <div class="col-xs-12">

                <div class="callout callout-vcar">
                        <i class="icon fa fa-info-circle callout-icon"></i>
                    <h4>Process Uploaded OpenXC trace files</h4>
                    <p>
                        Please wait a few seconds while we index data in elasticsearch for a real time data retrieval in visualizations.
                    </p>
                </div>

                <div class="box box-solid vcar-box">
                    <div class="box-header">
                        <h3 class="box-title">
                            Processing Dataset
                            <span class="subtitle">Step 2 of 3</span>
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body vcar-task">
                        <h2>Indexing <i class="fa fa-cog fa-spin"></i></h2>
                        <ul id="info">
                        </ul>
                    </div>
                    <div class="box-footer">
                        <h3 class="box-title pull-right">
                            <a class="btn btn-vcar-action disabled" href="/dashboard/openxc">
                                <i class="fa fa-chevron-right"></i>
                                Continue
                            </a>
                        </h3>
                    </div>
                    <div id="traces"></div>
                </div>
            </div>
        </div>
    </div>
{%- endblock content %}


{%- block scripts %}
	{{ super() }}
    <script type="text/javascript" charset="utf-8">
            var source = new EventSource('/dashboard/stream');
            source.onmessage = function (event) {
                console.log(event.data);
                if(event.data === 'end_all'){
                    $('.btn-vcar-action').removeClass('disabled');
                    $("ul#info").append('<li><strong>AWESOME: </strong>All files have been processed successfully</li>');
                }else if (event.data === '1') {

                }else if (event.data === 'end_trace') {
                    $("ul#info").append('<li><hr/></li>');
                }else{
                    $("ul#info").append('<li><i class="fa fa-check"></i> ' + event.data + '</li>');
                }
            };
    </script>
{%- endblock scripts %}
