.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Ignore pycache files
__pycache__

# Ignore migration files
migrations/

# Ignore uploaded files
static/uploads/

# Node packages
node_modules/
