.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Ignore migration files
migrations/

# Ignore uploaded files
static/uploads/datasets
static/uploads/files
static/uploads/records
static/uploads/traces

# Node packages
node_modules/
