.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
.vscode/
workspaces/
app/plugins/editor
static/css/editor
static/js/editor
static/img/editor
# Ignore pycache files
__pycache__
_Notes

# Ignore migration files
migrations/

# Ignore uploaded files
static/uploads/

# Ignore compiled static files
static/css/*.css*
static/js/*.js*

# Node packages
node_modules/
core/dashboard/static/node_modules/
