elasticsearch
Flask
Flask-Bcrypt
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Images
Flask-Redis
Flask-Script
Flask-SQLAlchemy
Flask-WTF
marshmallow
networkx
PyYAML
https://github.com/vcar/flask-plugins/archive/master.zip
