elasticsearch
Flask
Flask-Bcrypt
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Redis
Flask-Script
Flask-SQLAlchemy
Flask-Socketio
Flask-WTF
Flask-Misaka
marshmallow
networkx
PyYAML
Gunicorn
Flask-Images
# https://github.com/mikeboers/Flask-Images/archive/py3.zip
https://github.com/vcar/flask-plugins/archive/master.zip
json2html
flask_restplus
psutil

