{% extends "layout.html" %}

{% from "carboard/macros.html" import render_pagination %}

{% block title %}
    List of articles | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		List of articles
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Article</a></li>
			<li class="active">List of articles</li>
		</ol>
	</section>
{% endblock content_header %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Authors</th>
                            <th>Date of publication</th>
                            <th>Actions</th>
                        </tr>

                    {% for article in articles.items %}
                        <tr>
                            <td><a href="{{ url_for('carboard.showArticle', id=article.id) }}">{{ article.id }}</a></td>
                            <td><a href="{{ url_for('carboard.showArticle', id=article.id) }}">{{ article.name | truncate(70) }}</a></td>
                            <td>{{ article.authors  | truncate(35) }}</td>
                            <td>{{ article.publication_date }}</td>
                            <td>
                                <a href="{{ url_for('carboard.showArticle', id=article.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Show"><i class="fa fa-eye"></i></a>

                                <a href="{{ url_for('carboard.editArticle', id=article.id) }}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>

                                <a href="{{ url_for('carboard.deleteArticle', id=article.id) }}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{render_pagination(articles)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
