{% extends "dashboard/layout.html" %}

{% from "dashboard/macros.html" import render_pagination %}

{% block title %}
    List of records | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		List of records
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{ url_for('dashboard.index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="{{ url_for('dashboard.indexRecord') }}">Record</a></li>
			<li class="active">List of records</li>
		</ol>
	</section>
{% endblock content_header %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-actions">
                        <a href="{{ url_for('dashboard.newRecord') }}" class="btn btn-primary">
                            Add new record
                        </a>
                    </div>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Record file</th>
                            <th>User</th>
                            <th>Drive type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>

                    {% for record in records.items %}
                        <tr>
                            <td><a href="{{ url_for('dashboard.showRecord', id=record.id) }}">{{ record.id }}</a></td>
                            <td>{{ record.name | default('--') }}</td>
                            <td><a href="/static{{ config.UPLOAD_RECORDS}}{{ record.trace}}" target="_blank">Get File</a></td>
                            <td>{{ record.user.username }}</td>
                            <td>{{ record.drivetype.name }}</td>
                            <td><span class="label bg-{{ record.status.color }}">{{ record.status.title }}</span></td>
                            <td>
                                <a href="{{ url_for('dashboard.showRecord', id=record.id) }}" class="btn btn-default btn-sm" data-toggle="tooltip" title="Show"><i class="fa fa-eye"></i></a>

                                <a href="{{ url_for('dashboard.toggleRecord', id=record.id) }}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Toggle status"><i class="fa fa-toggle-on"></i></a>

                                <a href="{{ url_for('dashboard.editRecord', id=record.id) }}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>

                                <a href="{{ url_for('dashboard.deleteRecord', id=record.id) }}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{render_pagination(records)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
