{% extends "layout.html" %}

{% from "carboard/macros.html" import render_pagination %}

{% block title %}
    List of signals | {{ super() }}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            List of signals
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('carboard.index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="{{ url_for('carboard.indexSignal') }}">Signals</a></li>
            <li class="active">List of signals</li>
        </ol>
    </section>
{% endblock content_header %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-actions">
                        <a href="{{ url_for('carboard.newSignal') }}" class="btn btn-primary">
                            Add new signal
                        </a>
                        <a href="{{ url_for('carboard.bulkAdd') }}" id="bulk" class="btn btn-success">
                            Bulk add signals
                        </a>
                    </div>
                    <div class="box-tools">
                        <form action="{{ url_for('carboard.searchSignal') }}" method="get">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        {% for signal in signals.items %}
                            <tr>
                                <td><a href="{{ url_for('carboard.showSignal', id=signal.id) }}">{{ loop.index }}</a>
                                </td>
                                <td>{{ signal.name }}</td>
                                <td>{{ signal.signalclass }}</td>
                                <td>
                                    {% if signal.status == 1 %}
                                        <span class="label bg-green">Activated</span>
                                    {% else %}
                                        <span class="label bg-red">Disabled</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('carboard.showSignal', id=signal.id) }}"
                                       class="btn btn-default btn-sm" data-toggle="tooltip" title="Show"><i
                                            class="fa fa-eye"></i></a>

                                    <a href="{{ url_for('carboard.toggleSignal', id=signal.id) }}"
                                       class="btn btn-warning btn-sm" data-toggle="tooltip" title="Toggle status"><i
                                            class="fa fa-toggle-on"></i></a>

                                    <a href="{{ url_for('carboard.editSignal', id=signal.id) }}"
                                       class="btn btn-success btn-sm" data-toggle="tooltip" title="Edit"><i
                                            class="fa fa-pencil"></i></a>

                                    <a href="{{ url_for('carboard.deleteSignal', id=signal.id) }}"
                                       class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove"><i
                                            class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ render_pagination(signals) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
