{% extends "dashboard/layout.html" %}

{% from "dashboard/macros.html" import render_pagination %}

{% block title %}
    Country details | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		Country details
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Country</a></li>
			<li class="active">Country details</li>
		</ol>
	</section>
{% endblock content_header %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Country : {{ country.title }}</h3>
                </div>

                <div class="box-body">

                    <div class="line">
                        <strong class="line-title">ID</strong>
                        <p class="line-body">{{ country.id }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Title</strong>
                        <p class="line-body">{{ country.title }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Iso code</strong>
                        <p class="line-body">{{ country.code }}</p>
                    </div>

                </div>

                <div class="box-footer form-footer">
                    <a href="{{ url_for('dashboard.editCountry', id=country.id) }}" class="btn btn-success" >Edit</a>
                    <a href="{{ url_for('dashboard.deleteCountry', id=country.id) }}" class="btn btn-danger" >Delete</a>
                    <a href="{{ url_for('dashboard.indexCountry') }}" class="btn btn-default pull-right">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
