{% extends "layout.html" %}

{% from "importer/macros.html" import render_field, info_box, box_header %}

{% block title %}
	vCar importer manager :: Indexing | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		Import wizard
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{ url_for('carboard.index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Importer</a></li>
			<li class="active">Import wizard</li>
		</ol>
	</section>
{% endblock content_header %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="callout callout-vcar">
				<i class="callout-icon">Step 5 of 5</i>
				<h4>Process Uploaded files</h4>
				<p>Please wait a few seconds while we index data in elasticsearch for a real time data retrieval in visualizations.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="box box-solid vcar-box">
				{{ box_header('Processing Data ...') }}
				<div class="box-body vcar-task">
					<h2>Indexing <i class="fa fa-cog fa-spin"></i></h2>
					<ul id="info">
						<!-- indexing counter show's here -->
					</ul>
				</div>
				<div class="box-footer">
					<h3 class="box-title pull-right">
					<a class="btn btn-vcar-action disabled" href="{{ url_for('carboard.index') }}">
						<i class="fa fa-chevron-right"></i>
						Continue
					</a>
					</h3>
				</div>
				<div id="traces"></div>
			</div>
		</div>
	</div>
{%- endblock content %}

{%- block scripts %}
	{{ super() }}
	<script type="text/javascript" charset="utf-8">
		var source = new EventSource('/carboard/import/stream');
		source.onmessage = function (event) {
			console.log(event.data);
			if(event.data === 'end_all'){
				$('.btn-vcar-action').removeClass('disabled');
				$("ul#info").append('<li><strong>AWESOME: </strong>All files have been processed successfully</li>');
			}else if (event.data === '1') {

			}else if (event.data === 'end_trace') {
				$("ul#info").append('<li><hr/></li>');
			}else{
				$("ul#info").append('<li><i class="fa fa-check"></i> ' + event.data + '</li>');
			}
		};
	</script>
{%- endblock scripts %}
