/*
* Show Action -----------------------------------------------------------------
*/
.noor {
    text-shadow: 0 0 20px #64B5F6;
}
.control-sidebar {
	height: 100%;
}
.line-right {
    float: right !important;
    margin: -11px -10px 0 0;
    padding: 0 !important;
    width: 164px;
    height: 164px;
    line-height: 164px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #eee;
}
.line-right img {
    overflow: hidden;
    box-shadow: 0 0 3px #2a2d35;
    max-height: 128px;
    max-width: 128px;
}
.line {
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.line .line-title {
    display: inline-block;
    min-width: 20%;
    margin: 10px 0 !important;
    vertical-align: top;
}

.line .line-body {
    display: inline-block;
    max-width: 75%;
    margin: 0 !important;
    color: #777;
    padding-left: 10px;
    vertical-align: sub;
    vertical-align: -webkit-baseline-middle;
}
.line-sm {
    border-bottom: 1px solid #03a300;
    padding: 12px 5px;
    margin: -10px;
    text-align: left;
}
.vcar-box .box-tools {
    top: 25%;
}
.vcar-box #upload {
    margin: -10px;
}
.vcar-box .box-footer {
    padding: 10px;
    border: none;
    border-radius: 0;
}
.vcar-box-sm {
    text-align: left;
    border: none;
}
.vcar-box-sm .box-header h3 {
    color: #aaa;
}
.line-sm .line-body {
    display: inline-block;
    margin: 0 !important;
    color: #777;
    padding-left: 10px;
}
.line-sm .line-icon {
    display: inline-block;
    border: 2px dashed #999;
    border-radius: 100%;
    padding: 4px 6px;
    margin: 0px 5px 0 -10px;
    cursor: pointer;
}
.line-sm .line-icon a {
    color: #f39c12 !important;
}
.line-sm .line-body a {
    color: #777;
}
.line-sm .line-body a:hover {
    color: #aaa;
}
.form-row {
    margin-top: 25px;
    margin-bottom: 25px;
}
.form-row hr{
    margin: 25px 0;
}
.table-avatar {
    border-radius: 50%;
    float: left;
    height: 40px;
    margin-right: 0px;
    margin-top: -2px;
    width: 40px;
}










iframe{
	border: none;
}
.iframe {
	border: 1px solid rgb(238, 221, 204);
	box-shadow: 0 5px 5px #ccc;
}
#map {
    height: 480px;
}
#graph {
    height: 480px;
}
.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.fullscreen .vcar-task, .fullscreen .vcar-vis {
    height: 100% !important;
}
.vis-network-tooltip, .vis-network-tooltip > pre{
    color: #03A100 !important;
    background-color: #1C1E22 !important;
    border: 1px solid #1C1E22 !important;
}

.vcar {
    margin-top: 20px;
}
.callout-icon {
    float: right;
    padding: 15px 0px 15px 20px;
    border-left: 1px solid;
}
.btn-vcar-action {
	position: relative;
	padding: 10px 45px 10px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #ffffff;
	background-color: #444444;
	border-color: rgba(0, 0, 0, 0.2);
}
.btn-vcar-action:hover {
	color: #ffffff;
	background-color: #2b2b2b;
}
.btn-vcar-action > :first-child {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
	line-height: 40px;
	font-size: 1.7em;
	text-align: center;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	display: block;
}
.tooltip-inner {
    min-width: 150px !important;
}
hr.divider {
    width: 50%;
    border: 1px solid #ede;
    margin: 30px auto 40px;
}
.intro{
    text-align: center;
}
.selector {
    width: 140px;
    height: 140px;
    margin: 0;
    color: #000;
    display: inline-block;
    position: relative;
    margin: 10px 0;
}
.selector, .selector button {
    font-weight: 300;
}
.selector button {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #03a100;
    border-radius: 50%;
    border: 0;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
    font-family: Lobster, cursive;
}
.selector button:hover {
    background: #3071a9;
}
.selector button:focus {
    outline: none;
}
.selector ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}
.selector li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
}
.selector li .item {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background: #ecf0f1;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    line-height: 80px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
    color: #464646;
}
.selector li .item:hover {
    background: #f0f0f0;
}

.btn-sm{
    width: 32px;
    line-height: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
}
.table td{
    vertical-align: middle !important;
}
.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.fullscreen .car-box, .fullscreen .vcar-vis {
	height: 100% !important;
}
.callout-vcar-border > p {
    text-align: left;
    color: #999;
}
.callout-vcar-border{
    border-left: 5px solid #03A100;
    border-radius: 0;
    padding: 0 0 0 15px;
}
.info-box-img {
    border-radius: 50%;
    height: 70px;
    margin-right: 0px;
    margin-top: -10px;
    width: 70px;
}
.box-body .btn-group, .box-body .btn-group-vertical {
    display: block !important;
}
.or-cercle {
    padding: 30px;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 50%;
    background-color: #7289da;
    color: #FFEB3B;
    font-size: 20px;
    border-color: #000 #555 #AAA #fff;
    margin-top: 105px;
    font-weight: 700;
}
.overflow-y-500{
    max-height: 500px;
    overflow-y: auto;
}
.right-checkbox {
    display: inline-block;
    padding: 0px 40px;
    text-decoration: underline;
    color: #de8650;
}
.btn-vcar .iradio_square-orange{
    float: right;
    margin: 10px 10px;
    /*opacity: 0.4;*/
}
.empty-radio-label{
    border-bottom: 2px solid #de8650;
    margin-right: -3px;
    padding-right: 3px;
}
.box-header .box-title .title{
    display: inline-block;
    min-height: 40px;
    padding-top: 10px;
}
.bad-extension{
    background-image: url(/static/img/dashboard/bad-extension.png);
    height: 64px;
    width: 64px;
    margin: -7px 0 0 10px;
    padding: 0;
    opacity: 0.8;
}
.info-box {
    display: block;
    min-height: 90px;
    width: 100%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14);
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
}
.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*font-family: Lobster, cursive;*/
    font-family: cursive;
    margin-bottom: 5px;
}
.info-box-number {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    color: #333;
    white-space: pre-line;
}
.info-box-small {
    display: block;
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
    color: #ddd;
    white-space: normal;
}
.vcar-circle {
    background-color: #009688;
    color: #fff;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    font-size: 20px;
    margin-top: 25px;
    padding-top: 80px;
    font-weight: 600;
}
.vcar-circle:hover, .vcar-circle:active, .vcar-circle:focus {
    background-color: #546e7a;
    color: #fff;
}
.vcar-circle i {
    font-size: 50px;
}
.user-panel{
    display: block;
    transition: 0.4s all;
}
.user-panel:hover {
    background-color: #ff9800;
    color: #1a2226;
}
.user-panel > .info{
    top: 15px;
}
.user-panel:hover .info {
    letter-spacing:1px;
}
.import-icon {
    height: auto;
    width: 100%;
    max-width: 38px;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.user-panel:hover .import-icon {
    background-color: #2a2a2a;
}

/* Customuzing Toastr */

#toast-container > div{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    opacity: 1;
}
.toast-info {
    /*background-color: #323232;*/
    background-color: #03a100;
    /*border-left: 4px solid yellow;*/
}
.toast-message {
    /*font-size: 15px;*/
    /*font-weight: 300;*/
}
.y-notice {
    color: #faa61a;
    padding-left: 15px;
}
.y-notice i {
    padding-right: 5px;
    color: #ff0;
    font-size: 110%;
}
.info-link {
    display: inline-block;
    /* font-weight: bold; */
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #AED581;
}
.info-link:hover {
    text-decoration: underline;
}
.sidebar-menu {
    margin-bottom: 22px;
}
.sidebar-menu.buttom {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}
.big-icon {
    padding: 5px 0 !important;
}
.big-icon a {
     padding: 10px 20px; 
    border-right: 1px solid #333;
    font-size: 16px;
}
.big-icon a:hover{
    color: #fff;
}
.big-icon .power-off{
    color: red;
}
.big-icon .power-off:hover{
    color: yellow;
}
.header .see-all {
    color:#7289da;
    font-weight:bold;
    float:right;
    margin-right:-15px;
}
.card {
    background: #ecf0f1;
    position: relative;
    transition: all 0.5s ease;
    color: #333;
}
.card .row, .card [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.card .card-selected {
    position: relative;
    overflow: hidden;
    min-height: 150px;
    background: #3D6AA2;
}
.card article {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
.card .info .name {
    font-size: 22px;
    font-weight: 200;
    position: relative;
    flex: 0 1 auto;
    align-self: auto;
}
.card .info .author {
    position: absolute;
    bottom: -20px;
    color: #fff;
}
.card .info .version {
    position: absolute;
    bottom: -20px;
    right: 20px;
    color: #fff;
}
.card .icon {
    width: 84px;
    height: 84px;
    order: 0;
    flex: 0 0 auto;
    align-self: center;
    overflow: visible;
    text-align: center;
    padding: 0;
    line-height: 84px;
}
.card .icon i {
    font-size: 42px;
}
.card .fa-toggle-on {
    color: green;
}
.card .fa-heart {
    color: red;
}
.card .card-selected:hover figure {
    opacity: 0.4;
}
.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: 1;
    transition: all 0.5s ease;
}
.card .actions .row [class*="col-"]:nth-child(2) .action  {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #dee;
}
.card .actions .row [class*="col-"] {
    transition: all 0.5s ease;  
}
.card .actions .row [class*="col-"]:hover{
    background: #fff;
}
.card .actions .action {
    padding: 10px 0px;
    text-align: center;
    display: block;
    color: #333;
}
.card .actions .action h1 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
}
.card .actions .action i {
    font-size: 16px;
}
pre {
    color: #ddd;
    background-color: rgb(54, 54, 55);
    border: 1px solid #444;
}
code {
    padding: 2px 6px;
    color: #ddd;
    background-color: rgb(54, 54, 55);
    border: 1px solid #444;
}
pre code {
    border: none;
}
.markdown {
    padding: 10px 25px;
    line-height: 2.5em;
    
}
.markdown a{
    color: #7e9bff;
}
.markdown a:hover{
    color: #a8bcff;
}
.markdown td, .markdown th {
       padding: 5px 10px;
        border: 1px solid #444;
}
.callout code, .callout .highlight {
    background-color: rgb(54, 54, 55);
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
	white-space: normal !important;
}