{% extends "layout.html" %}

{% block title %}
    Configuration | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		Configuration
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Administration</a></li>
			<li class="active">Configuration</li>
		</ol>
	</section>
{% endblock content_header %}

{% block content %}
<div class="row">
    <!-- Signals -->
    <div class="col-md-3">
        <div class="box box-solid box-conf">
            <div class="box-header"><i class="fa fa-microchip"></i><h3 class="box-title">Signals</h3></div>
            <div class="box-body">
                <a href="{{ url_for('carboard.indexSignal') }}"><i class="fa fa-star"></i>Main signals</a>
                <a href="{{ url_for('carboard.indexExtrasignal') }}"><i class="fa fa-star-half-o"></i> Extra signals</a>
                <a href="{{ url_for('carboard.indexSignalclass') }}"><i class="fa fa-tags"></i>Signal classes</a>
                <a href="{{ url_for('carboard.indexSignalsource') }}"><i class="fa fa-usb"></i>Signal sources</a>
            </div>
        </div>
    </div>
    <!-- Extensions -->
    <div class="col-md-3">
        <div class="box box-solid box-conf">
            <div class="box-header"><i class="fa fa-puzzle-piece"></i><h3 class="box-title">Extensions</h3></div>
            <div class="box-body">
                <a href="{{ url_for('carboard.indexPlugin') }}"><i class="fa fa-key"></i> Plugins</a>
                <a href="{{ url_for('carboard.indexPlugin') }}"><i class="fa fa-plus"></i> Ajouter</a>
            </div>
        </div>
    </div>
    <!-- Vehicles -->
    <div class="col-md-3">
        <div class="box box-solid box-conf">
            <div class="box-header"><i class="fa fa-car"></i><h3 class="box-title">Vehicles</h3></div>
            <div class="box-body">
                <a href="{{ url_for('carboard.indexBrand') }}"><i class="fa fa-square"></i> Brands</a>
                <a href="{{ url_for('carboard.indexModel') }}"><i class="fa fa-cubes"></i> Models</a>
                <a href="{{ url_for('carboard.indexVehicle') }}"><i class="fa fa-bus"></i> Users vehicles</a>
            </div>
        </div>
    </div>
    <!-- Members -->
    <div class="col-md-3">
        <div class="box box-solid box-conf">
            <div class="box-header"><i class="fa fa-user"></i><h3 class="box-title">Members</h3></div>
            <div class="box-body">
                <a href="{{ url_for('carboard.indexUser') }}"><i class="fa fa-neuter"></i> Users</a>
                <a href="{{ url_for('carboard.indexDriver') }}"><i class="fa fa-cubes"></i> Drivers</a>
            </div>
        </div>
    </div>
    <!-- Driving Records -->
    <div class="col-md-3">
        <div class="box box-solid box-conf">
            <div class="box-header"><i class="fa fa-road"></i><h3 class="box-title">Driving Records</h3></div>
            <div class="box-body">
                <a href="{{ url_for('carboard.indexRecord') }}"><i class="fa fa-rocket"></i> Records</a>
                <a href="{{ url_for('carboard.indexDriveType') }}"><i class="fa fa-sort"></i> Drive types</a>
            </div>
        </div>
    </div>
    <!-- Other settings -->
    <div class="col-md-3">
        <div class="box box-solid box-conf">
            <div class="box-header"><i class="fa fa-random"></i><h3 class="box-title">Other settings</h3></div>
            <div class="box-body">
                <a href="{{ url_for('carboard.indexCountry') }}"><i class="fa fa-globe"></i> Countries</a>
                <a href="{{ url_for('carboard.indexStatus') }}"><i class="fa fa-toggle-off"></i> Status</a>
                <a href="{{ url_for('carboard.indexArticle') }}"><i class="fa fa-book"></i>Related articles</a>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.box-conf {
    /*min-height: 5 blocks including the title*/
    min-height: calc(49px * 5);
}
.box-conf .box-header {
    background: #1a2226;
    padding: 15px;
}
.box-conf .box-header > .fa {
    color: rgba(255, 152, 0, 0.75);
}
.box-conf .box-body {
    padding: 0;
}
.box-conf .box-body a {
    display: block;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #333;
    color: #b8c7ce;
}
.box-conf .box-body a:hover {
    color: #7289da;
    background: #2e2e2e;
}
.box-conf .box-body a i {
    margin-right: 10px;
}
.box-conf .box-body a:hover i {
    color: yellow;
}

</style>
{% endblock %}
