{% extends "dashboard/layout.html" %}

{% from "dashboard/importer/macros.html" import render_field, info_box, box_header %}

{% block title %}
    vCar importer manager :: Vehicle| {{ super() }}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
        Import wizard
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('dashboard.index') }}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Importer</a></li>
            <li class="active">Import wizard</li>
        </ol>
    </section>
{% endblock content_header %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="callout callout-vcar">
            <i class="callout-icon">Step 2 of 5</i>
            <h4>Choose or add vehicle</h4>
            <p>Select one of your vehicles, you can add a new one or contune anonymously.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
		<form id="vehicle" action="{{ url_for('dashboard.vehiculeImporter') }}" method="POST" enctype="multipart/form-data">
			<div class="row underlined">
				<div class="col-md-5">Choose a vehicle</div>
				<div class="col-md-2"><small> OR </small></div>
				<div class="col-md-5">Add a vehicle</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-5 overflow-y-500">
					<div class="btn-group" data-toggle="buttons">
						{% for vehicle in vehicles %}
						<label class="info-box btn btn-vcar">
							<input type="radio" autocomplete="off" name="vehicle" value="{{ vehicle.id }}">
							<span class="info-box-icon">
							{% if vehicle.image %}
								<img class="info-box-img" src="{{ resized_img_src(config.UPLOAD_VEHICLE + vehicle.image, width=100) }}" alt="{{ vehicle.vehiclename }}">
							{% else %}
								<img class="info-box-img" src="/static{{ config.UPLOAD_VEHICLE}}default.png">
							{% endif %}
							</span>
							<div class="info-box-content">
								<span class="info-box-text">{{ vehicle.brand}}</span>
								<span class="info-box-small">
									<i>Model :</i> {{ vehicle.model | default('--') }}<br>
									{# <i>Status :</i> <span class="label bg-{{ vehicle.status.color }}">{{ vehicle.status.title }}</span><br> #}
									<i>Added :</i> {{ vehicle.created.strftime('%d-%m-%Y') }}
								</span>
							</div>
						</label>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2 text-center">
					<div class="or-cercle">
						OR
					</div>
				</div>
				<div class="col-md-5">
					<div class="callout callout-vcar">
						<p>This will be added to your vehicles list</p>
					</div>
					{{ form.hidden_tag() }}
					{% for field in form %}
						{{ render_field(field) }}
					{% endfor %}
				</div>
			</div>
			<div class="row underlined"></div>
			<div class="footer text-right" >
				<div class="right-checkbox checkbox icheck">
					<label>
						<span class="empty-radio-label">Using anonymous <i>vehicle</i> ?</span>
						<input type="radio" autocomplete="off" name="vehicle" value="0">
					</label>
				</div>
                <a class="btn btn-vcar-action" href="#" id="next">
                    <i class="fa fa-chevron-right"></i>
                    Continue
                </a>
            </div>
		</form>
    </div>
</div>
{%- endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#next").click(function (e) {
                e.preventDefault();
                $('#vehicle').submit();
            })
        });
    </script>
{% endblock %}
