{% extends "dashboard/layout.html" %}

{% from "dashboard/macros.html" import render_pagination %}

{% block title %}
    Brand details | {{ super() }}
{% endblock %}

{% block content_header %}
	<section class="content-header">
		<h1>
		Brand details
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
			<li><a href="#">Brand</a></li>
			<li class="active">Brand details</li>
		</ol>
	</section>
{% endblock content_header %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-header with-border">
                    <h3 class="box-title">Brand : {{ brand.name }}</h3>
                </div>

                <div class="box-body">

                    <div class="line line-right">
                        {% if brand.logo %}
                            <img class="avatar" src="{{ resized_img_src(config.UPLOAD_BRAND + brand.logo, width=160) }}">
                        {% else %}
                            <img class="avatar" src="/static{{ config.UPLOAD_BRAND}}/default.png">
                        {% endif %}
                    </div>

                    <div class="line">
                        <strong class="line-title">ID</strong>
                        <p class="line-body">{{ brand.id }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Name</strong>
                        <p class="line-body">{{ brand.name }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Code</strong>
                        <p class="line-body">{{ brand.code }}</p>
                    </div>

                    <div class="line">
                        <strong class="line-title">Creation</strong>
                        <p class="line-body">{{ brand.created.strftime('%d-%m-%Y')}}</p>
                    </div>

                </div>

                <div class="box-footer form-footer">
                    <a href="{{ url_for('dashboard.editBrand', id=brand.id) }}" class="btn btn-success" >Edit</a>
                    <a href="{{ url_for('dashboard.deleteBrand', id=brand.id) }}" class="btn btn-danger" >Delete</a>
                    <a href="{{ url_for('dashboard.indexBrand') }}" class="btn btn-default pull-right">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
