{% extends "base.html" %}


{% block title %}
    Dashboard | {{ super() }}
{% endblock title %}


 {%- block styles %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="/static/css/vendor{{ minified }}.css"/>
    <!-- App styles -->
    <link rel="stylesheet" href="/static/css/app{{ minified }}.css"/>
{%- endblock styles %}


{% block bodyclass %}
    hold-transition skin-light sidebar-mini fixed
{% endblock %}

{% block body %}
    <div class="wrapper">

        <header class="main-header">
            {% block brand %}
                <a href="{{ url_for('carboard.index') }}" class="logo">
                    <span class="logo-mini"><strong><i class="fa fa-car"></i></strong></span>
                    <span class="logo-lg">vCar | <strong><i class="fa fa-car"></i></strong></span>
                </a>
            {% endblock %}

            <nav class="navbar navbar-static-top" role="navigation">
                {% block navbar %}
                    {% include 'elements/navbar.html' %}
                {%- endblock %}
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                {% block sidebar -%}
                    {% include 'elements/sidebar.html' %}
                {%- endblock %}
            </section>
        </aside>

        <div class="content-wrapper">

			{% block content_header %}
				<section class="content-header">
					<h1>
					Title
					<small>subtitle</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
						<li><a href="#">Controller</a></li>
						<li class="active">Action</li>
					</ol>
				</section>
			{% endblock content_header %}

            <section class="content">

				{% block flashBag %}
                    <!-- Flash inside content -->
                {% endblock flashBag %}

                {% block content -%}
                    <!-- Pages content goes here :), Luckyy Developping ... -->
                {%- endblock %}
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                {% block version %}
                    <b>Version</b> 0.0.1
                {% endblock %}
            </div>

            {% block copyright %}
                <strong>Copyright © 2016</strong> some rights reserved.
            {% endblock %}
        </footer>

        {% block settings -%}
            {% include 'elements/settings.html' %}
        {%- endblock %}
    </div>
{% endblock %}


 {% block scripts %}
    <!-- Vendor scripts -->
    <script src="/static/js/vendor{{ minified }}.js"></script>
    <script>
        var source = new EventSource('/carboard/import/stream');
        source.onmessage = function (event) {
			console.log(event.data);
            if(event.data !== 'undefined' && event.data.length > 1){
				console.log('Event :: ' + event.data);
                window.toastr.info(event.data);
            }
        };
        /* turning flask flash messages into js popup notifications */
        window.popupMessages = {{ get_flashed_messages(with_categories = True) | tojson | safe }};
    </script>
    <!-- App scripts -->
    <script src="/static/js/app{{ minified }}.js"></script>
{%- endblock scripts %}
