{% extends "base.html" %}


{% block title %}
    Dashboard | {{ super() }}
{% endblock title %}


 {%- block styles %}
    <!-- Vendor styles -->
    <link rel="stylesheet" href="/static/css/vendor{{ minified }}.css"/>
    <!-- App styles -->
    <link rel="stylesheet" href="/static/css/app{{ minified }}.css"/>
{%- endblock styles %}


{% block bodyclass %}
    hold-transition skin-vcar sidebar-mini
{% endblock %}

{% block body %} {% endblock %}


 {% block scripts %}
    <!-- Vendor scripts -->
    <script src="/static/js/vendor{{ minified }}.js"></script>
    <script>
        /* turning flask flash messages into js popup notifications */
        window.popupMessages = {{ get_flashed_messages(with_categories = True) | tojson | safe }};
    </script>
    <!-- App scripts -->
    <script src="/static/js/app{{ minified }}.js"></script>
{%- endblock scripts %}
