{% extends "layout.html" %}

{% from "carboard/macros.html" import render_field, box_header %}

{% block title %}
    Add Extra Signal from File | {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .box-footer {
            background-color: #2A2A2A;
            border-color: #2A2A2A;
        }

        .box-body {
            padding: 40px 50px;
        }

        .drop-file {
            width: 100%;
            height: 200px;
        }
    </style>
{% endblock %}
{% block content_header %}
    <section class="content-header">
        <h1>
            Bulk add Signals
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="{{ url_for('carboard.indexExtrasignal') }}">Extra Signal</a></li>
            <li class="active"> Add Extra Signal from file</li>
        </ol>
    </section>
{% endblock content_header %}

{% block content %}
    {% if errors %}
        <div class="row">
            <div class="col-md-12">
                <div class="well-error">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid vcar-box">

                {{ box_header('Bulk Add Signal Sources') }}

                <div class="box-body">
                    <form action="{{ url_for('carboard.bulkAddSource') }}" method="POST" enctype="multipart/form-data">
                        <div class="drop-file">
                            <span id="file-info" class="animated-bounce">Drop Your file Here</span>
                            {% for field in form %}
                                {{ render_field(field) }}
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-footer form-footer">
                <button type="submit" id="submit" class="btn btn-success">Submit File</button>
                <a href="{{ url_for('carboard.indexSignalsource') }}" class="btn btn-default pull-right">Back to
                    list
                </a>
            </div>

        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('#submit').click(function (e) {
            if (fileInput.value) {
                $('form').submit();
            }
        })
    </script>
{% endblock %}
