<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Boubouh Karim" content="vCar">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<title>vCar PLATFORM</title>
		<section class="hero is-primary is-bold is-medium">
			<div class="hero-body">
				<div class="container has-text-centered">
					<div class="columns">
						<div class="column is-auto">

							<p class="title is-2">vCar</p>
							
							<br><br>
							
							<p class="subtitle is-4"><i>A platform for the next generation of intelligent vehicle applications</i></p>
							
							<br><br>

							<p class="subtitle is-5">It's about Smart Cars</p>
							<p class="subtitle is-5">It's about Research</p>
							<p class="subtitle is-5">It's about Open Source</p>
						</div>
					</div>
					<br><br>
					<div class="columns">
						<a href="/plugins/core/p1/" class="column is-quarter has-background-link">Core Plugin</a>
						<a href="/dashboard" class="column is-quarter has-background-grey-dark">PLATFORM</a>
						<a href="/plugins/community/root/p1/" class="column is-quarter has-background-link">Community Plugin</a>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>